
/* -------------- */


/* -------------about----------- */


/* .about{
padding-bottom: 94px;
padding-top: 94px;
}
.about__text {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: #212121;
margin-bottom: 50px;
}

.about__list {
    display: flex;
    }

.about__item {
    flex: calc((100%-90px)*3);
    margin-right: 30px;
    position: relative;
    }
    .about__item:last-child {
        margin-right: 0;
    }

    .about__icontext{
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
     } */

     


/* ---------team-------- */


/* .team {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: #F5F4FA;
}
.team__text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
    }

.team__list {
    display: flex;
    }
.employees {
   padding-top: 30px; 
   padding-bottom: 30px;
}
.team__item {
    flex-basis: calc((100% - 90px)/4);
    margin-right: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    }

.team__item:last-child {
    margin-right: 0;
    }


.employees__name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
color: #212121;
margin-bottom: 10px;
}

.employees__prof {
line-height: 1.19;
text-align: center;
color: #757575;
margin-bottom: 16px;
}
.employees__list{
    display: flex;
    justify-content: center;
}
.employees__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: #FFFFFF;;
}

.employees__item:last-child{
    margin-right: 0;
}

.employees__link{
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #FFFFFF;;
display: flex;
align-items: center;
justify-content: center;
fill: #AFB1B8;
}
.employees__link:hover, 
.employees__link:focus {
background-color: #2196F3;
}

.employees__link:hover .employees__icon,
.employees__link:focus .employees__icon {
    fill: #FFFFFF;
}


.employees__icon{
align-items: center;
justify-content: center;
fill: #757575;} 
 */
/* --------clients--------- */
/* .clients {
    list-style: none;
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-text{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.clients-list{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    
}
.clients-item{
    margin-left: 30px;
    width: 170px;
    height: 92px;
    }
 
.clients-item:first-child{
    margin-left: 0;
}

.client-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill:#AFB1B8;
     }

.clients-icon{
    fill: #AFB1B8;
     }

.client-link:hover .clients-icon,
.client-link:focus .clients-icon {
    fill: #2196F3;
}

.client-link:hover,
.client-link:focus {
    border-color: #2196F3;
    } */

/* ----------footer--------- */

/* .footer {
background: #2F303A;
padding-top: 60px;
padding-bottom: 60px;
}

.footer .container{
    display: flex;
    align-items: baseline;
}

.footer-color {
color: white;
margin-top: 60px;
margin-bottom: 20px;
}
.footer-logo.link {
    display: block;
    margin-bottom: 20px;
    }
    
.address {
font-style: normal;
}
.footer-item {
    margin-bottom: 9px;
}
.footer-item:last-child{
    margin-bottom: 0;
}

.footer-address {
font-size: 14px;
line-height: 1.71;
font-style: normal;
color: #FFFFFF; 
}

.footer-mail, .footer-tel {
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
}
.join{
    margin-left: 70px;
    }

.join-text{
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.join-list{
    display: flex;
    
}
.join-item{
    width: 44px;
    height: 44px;
    margin-left: 10px;
    border-radius: 50%;
}
.join-item:first-child{
    margin-left: 0;
}
.join-link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}
.join-icon{
    fill: #FFFFFF;
}
.join-link:hover,
.join-link:focus {
   background-color: #2196F3;}

   .subscribe{
    width: 570px;
    margin-left: 93px;
    
       }

   .subscribe-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
     }

     .subscribe-form {
        display: flex;
        align-items: center;
         }
   
   
   .subscribe-input{
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    font-family: inherit;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.25;
     }

   .subscribe-input::placeholder-shown {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }

   .subscribe-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 38px 10px 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
     }

       
  .subscribe-button.subscribe-icon {
    top: 13px;
    right: 28px;
  }
 */
/* --------Модальне вікно------- */

   /* .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    transition: opacity 300ms, visibility 300ms;
   }


   .backdrop.is-hidden .modal{
    transform:translate(-50%, -50%) scale(0) rotate(180deg);
   }


   .modal{
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 300ms;
    padding: 40px;
   }

  .modal-close-btn{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    }

    .modal-close-btn:hover,
    .modal-close-btn:focus {
    fill: var(--logo-color);
    } 

    .icon-close {
        width: 11px;
        height: 11px;
        left: 1026px;
        top: 229px;
        background: #FFFFFF;
        box-sizing: border-box;
         }

    .modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    }
   

    .modal-field:not(:last-child){
    margin-bottom: 10px;
    }

    .modal-field:last-of-type {
        margin-bottom: 30px;
        margin-top: 20px;
        }

    .input-wrap{
        position: relative;
    }

    .modal-icon{
        position: absolute;
        left: 14.27px;
        top: 50%;
        transform: translateY(-50%);
    }

    .modal-input{
    width: 100%;
    height: 40px;
    left: 576px;
    top: 314px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 35px;
    }

    .modal-input:focus {
    border-color: var(--logo-color);
    }

    .modal-input:focus + .modal-icon {
        fill: var(--logo-color);
    }

        .modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    }

    .modal-input:not(:placeholder-shown) {
    fill: #2196F3;
    }


    .modal-text{
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        padding-left: 16px;
          }

    
    .check-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
        }

    .check-text span{
        width: 16px;
        height: 15px;
        border: 2px solid #090b13;
        border-radius: 3px;
        margin-right: 5px;  
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border-radius: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

    .check-icon{
        fill: transparent;
         }

    .modal-check:checked + .check-text span{
        background-color: var(--logo-color);
        border: none;
         }

         .modal-check:checked + .check-text .scheck-icon{
        fill: #FFFFFF;
         }


         .is-hidden{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }

      .no-skroll{
        overflow: hidden;
      }

      .contract{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    padding-left: 10px;
    text-decoration: underline;
      }

      .button-send {
    width: 200px;
    height: 50px;
    left: 700px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #188CE8;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     .button-send:hover,
     .button-send:focus{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  
 */
/* -----portfolio------ */
  
/* .portfolio-page {
display: none;
}

.portfolio-button{
    padding-top: 94px;
    padding-bottom: 50px;
}

.filtr-button {
display: flex;
margin-bottom: 56px;
justify-content: center;
}

.filtr-button-item:first-child{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filtr-button-item:hover, 
.filtr-button-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--logo-color);  
}

.filtr-button-item {
margin-right: 8px;
}
.filtr-button-item:last-child {
margin-right: 0;
}


.writings{
display: flex;
flex-wrap: wrap;
padding-bottom: 94px;
}

.writings-list {
 width: calc((100% - 60px ) / 3 );  
 margin-right: 30px;
 margin-bottom: 30px;
    }
 .writings-list:hover .writings-top-text {
        transform: translateY(0);
    }

  .shadow{
    display: block;
  }

  .writings-top-wrap{
    position: relative;
    overflow: hidden;
  }
  .writings-top-text{
    position: absolute;
    top: 0;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    line-height: 1.5;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
  }

   .writings-list:hover, 
   .writings-list:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }

   .writings-list:nth-child(3n+3) {
    margin-right: 0;
 }

 .writings-list:nth-child(n+7) {
    margin-bottom: 0;
 }

 .writings-list-text {
     padding-left: 24px;
     padding-top: 20px;
     padding-right: 24px;
     padding-bottom: 20px;
     border-right: 1px solid #EEEEEE;
     border-bottom: 1px solid #EEEEEE;
     border-left: 1px solid #EEEEEE;
 }
 
.filtr {
display: inline-block;
font-weight: 500;
font-family: inherit;
font-size: 16px;
line-height: 1.26;
text-align: center;
color: var(--button-color);
background: #F5F4FA;
padding: 6px 22px;
text-align: center;
border-radius: 4px;
border: 1px solid transparent;
}

.filtr:hover, 
.filtr:focus {
color: #FFFFFF;
background: #2196F3;
}

.foto-text {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.foto-text-par {
line-height: 1.88;
color: #757575;
margin-top: 4px;
}
 */


