.header {
    border-bottom: 1px solid #E5E5E5;
    }
    
    
    .main-nav {
    display: flex;
    align-items: center;
    }
    
    .header-color {
    color: #212121;
    }
    .nav {
        display: flex;
        align-items: center;
        &__logo {
            font-family: 'Raleway';
            color: var(--logo-color);
            font-weight: 700;
            font-size: 26px;
            line-height: 1.19;
            }
            
            &__list {
            display: flex;
             margin-left: 93px;
            }
            
            &__item {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: #212121;
            margin-right: 50px;
            }
            
            &__item:last-child {
                margin-right: 0;
            }
            
            
            &__link {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.14;
                letter-spacing: 0.02em;
                color: var(--button-color);
                display: block;
                padding-top: 32px;
                padding-bottom: 32px;  
                position: relative;  
            }
            
            &__link:hover,
            &__link:focus{
            color: var(--logo-color);
            }
            
            &__link.current::after{
            position: absolute;
            content: " ";
            width: 100%;
            height: 4px;
            background-color: var(--logo-color);
            border-radius: 2px;
            left: 0;
            bottom: 0;
            }
            &__item &__link:last-child{
                margin-right: 0;
            }
        }
    
    
    .contact {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    fill: #757575;
    
    &__item {
        align-items: center;
        }
        
          &__item:not(:last-child) {
            margin-right: 50px;
            } 
        
        
        
        
        &__icon{
            margin-right: 10px;
        }
        
        &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #757575;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        }
        
        
        &__link:hover, 
        &__link:focus  {
            color: #2196F3;   
        }
        
        &__link:hover &__icon, 
        &__link:focus &__icon {
            fill: #2196F3;   
        }
    }
    
    
    